@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*estilos generales*/
html {
    font-size: 18px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

ul {
    list-style: square;
}

li {
    font-size: 1.5rem;
}




body {

    font: 14px Verdana, Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/*NAV*/


#botonera {
    background-color: rgba(7, 7, 7, 0.9);
  
}


#botonera img{
    width: 137px;
    height: 59px;
    margin: 10px 0;
}

#botonera a{
    color: rgb(245, 245, 245);
    font-size: 1.1rem;
    margin: 0 15px;
    cursor: pointer;
    font-weight:500;
}

#botonera a:hover{
    color:rgb(22, 132, 206);
}

.nav-link{
    position: relative;
    padding-bottom: 7px;
    

}

.nav-link::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:rgb(245, 245, 245);
    transition: width 0.4s ease-out;

}

.nav-link:hover.nav-link::after{
    width: 100%;

}



   /*HEADER COROUSEL*/

   .home{
    background-color: rgba(71, 69, 69, 0.5);
}

#part1{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.6)), url("../img/rutina-gimnasio-5-dias-1-1.jpg");
}
 #part2{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.6)), url("../img/fondo22.jpg");

 }

 #part3{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.6)), url("../img/carta1.jpg");
 }

 .home .carousel-item{
   
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home .carousel-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.home .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.home .carousel-item h2{
    font-size: 65px;
    color: rgb(245, 245, 245);
    margin:0 0 10px;
    opacity: 0;
    border: 2px;
  

}

.home .carousel-item form{
    font-size: 1.2rem;
    margin: 0;
   
    opacity: 0;
}

.container .botonc{
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 60px;
    background-image: linear-gradient(
        -225deg, #2B1CFD 0% ,#1B3CE6 25% ,#287CFA 50% ,#287CFA 75% ,#1CDFFD 100%) ;
  
        color: rgb(245, 245, 245);
        letter-spacing: 2px;    
        border: 2px solid rgba(0, 0, 0, 0.7);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
       


}

.botonc:hover{
    
    box-shadow: 0 0 30px rgb(7, 7, 7) inset;
   


}

.home .carousel-item.active h2{
    animation: fadeInleft 1s ease forwards;
}

.home .carousel-item.active form{
    animation: fadeInRight 1s ease forwards;
}



@keyframes fadeInleft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}





     /*APP*/

     #nuestra-app{
        background-color: rgb(245, 245, 245);
     }

.color-medio {
    color: rgb(22, 132, 206);
}


#nuestra-app h2,
p {
    text-align: center;

}
#nuestra-app p{
    margin-top: 1rem;
}

#nuestra-app .img-container {
    background-image:
        url("../img/APPBODY.png");
    background-size: cover;

    background-position: center;
    height: 600px;
    width: 425px;
}

#nuestra-app .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4rem 0rem;
    gap: 80px;
}

#nuestra-app .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: initial;
    max-width: 472px;
}


/*PLANES */

#nuestros-planes {
    background-color: #111;
    text-align: center;
}

#nuestros-planes .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    color: white;
    text-align: center;
    padding: 100px 12px;
    max-width: 1200px;
    margin: 0 auto;
}

#nuestros-planes h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: rgb(245, 245, 245);
    padding-top: 57px;
}

#nuestros-planes p {
    display: block;
    font-size: 1rem;
    margin: 10px 0;
}

.botonp {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        -225deg, #362cfd 0% ,#4563E6 50% ,#3F8CFC 100%);
   
    cursor: pointer;
    color: rgb(245, 245, 245);
    letter-spacing: 1px;   
    margin-top: 20px; 

}

.botonp:hover{
    box-shadow: 0 0 10px rgb(7, 7, 7) inset;
}

.boton2 {
    margin-top: 20px;
    
    background-image: linear-gradient(
        -225deg, #2275FA 0%  ,#1494E3 50% ,#17DAFD 100%);
   
    
}

.boton3 {
    margin-top: 20px;
   
    background-image: linear-gradient(
        -225deg, #00a552 0%  ,#079177f8 50% ,#06adad 100%);
   
   
}



#nuestros-planes .carta {
    width: 33%;
    height: auto;
    max-height: 400px;
    min-height: 400px;
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#nuestros-planes .container .carta:first-child {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)), url("../img/carta1.jpg");
    background-position: center center;
    background-size: cover;
}

#nuestros-planes .container .carta:nth-child(2) {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)), url("../img/carta2.jpg");
    background-position: center center;
    background-size: cover;
}

#nuestros-planes .container .carta:last-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.8)), url("../img/carta3.jpg");
    background-position: center center;
    background-size: cover;
}



.fit {
    color: rgb(22, 132, 206);
}

.full {
    color: rgb(22, 169, 206);
}

.vip {
    color: rgba(24, 204, 165, 0.774)
}

.planes button {
    margin-top: 40px;
}






/*SEDES*/
.container-fluid{
    background: #fff;
   
}
.container-fluid img{
    width: 100px;
    height: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.bg-blue{
    background-image: linear-gradient(
        -225deg, #3B49F5 0% ,#3872FC 30% ,#3D95E6 70% ,#38C9FC 100%);
}

.container-fluid h2{
    margin: 20px 0;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
   
}
.container-fluid h1{
    margin: 30px 0;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.btn{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;  
    margin-top: 20px;  
    border-radius: 8px;
}

    

 .btn:hover{
    box-shadow: 0 0 20px rgb(7, 7, 7) inset;

 }   
.row{
    margin: 0 20px;
    
}

.row article{
    margin-bottom: 50px;
}

/*FOOTER*/

footer{
    background-color: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
 
}

.foot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.foot-container img{

    width: 137px;
    height: 59px;


}

.foot-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;


}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2rem;
    transition: color .4s ease;

}

.socials a:hover i{
    color: #3D95E6;

}

.footer-bottom{
    background: #000;
    width: 100%;
    padding-top: 20px;
  
    text-align: center;
    align-items: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/*SITIOS*/

/*HTML-ACTIVIDADES*/


#encabezado h1 {
    font-size: 4rem;
    text-align: center;
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 30vh;
    padding: 250px;
    color: rgb(245, 245, 245);
    justify-content: center;
}



#grilla {
    background-color: rgb(245, 245, 245);
    justify-content: center;
    padding: 50px;
    text-align: center;
    width: 100%;
    height: 70vh;
}

#grilla table {
    padding: 100px;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#grilla table th {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(141, 137, 137);
}

#grilla table td {
    border-radius: 5px;
    background-color: rgb(72, 162, 204);
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
}

/*HTML-SEDES*/


.titulo2 {
    text-align: center;
    padding: 50px;
    background-color: rgb(245, 245, 245);
}



#sedes2 {
    display: flex;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 60px;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#sedes2 .belgrano2 {
    padding-top: 100px;
    height: 50%;
    background-color: rgb(22, 132, 206);
    margin: 16px;
    width: 20%;
    border-radius: 7px;
}



#sedes2 .caballito2 {
    padding-top: 100px;
    height: 50%;
    background-color: rgb(22, 132, 206);
    margin: 1em;
    width: 20%;
    border-radius: 7px;
}

#sedes2 .recoleta2 {
    padding-top: 100px;
    height: 50%;
    border-radius: 7px;
    background-color: rgb(22, 132, 206);
    margin: 16px;
    width: 20%;
}

#sedes2 .flores2 {
    border-radius: 7px;
    padding-top: 100px;
    height: 50%;
    background-color: rgb(22, 132, 206);
    margin: 16px;
    width: 20%;
}


#formulario {

    background-color: rgb(245, 245, 245);

    padding: 50px;
}

#formulario h2 {
    text-align: center;
}

#formulario p {
    text-align: center;
}

#formulario form {
    padding: 100px;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#formulario form label {
    display: block;
    position: relative;
}



.tituloplan {
    text-align: center;
    padding: 50px;
    background-color: rgb(245, 245, 245);
}

#planes-total2 .planes2 {
    display: flex;
    justify-content: center;
    color: black;
    background-color: rgb(245, 245, 245);
    padding: 80px;
    height: 80vh;
    text-align: center;
}

#planes-total2 p {
    display: none;
    display: block;
    margin-bottom: 100px;
    margin-top: 70px;

}

#planes-total2 .planes2 .opcion1 {
    padding: 50px;
    height: 100%;
    background-color: rgb(22, 132, 206);
    margin: 16px;
    width: 25%;
    border-radius: 5px;
}

#planes-total2 .planes2 .opcion2 {
    padding: 50px;
    height: 100%;
    background-color: rgb(22, 132, 206);
    margin: 16px;
    width: 25%;
    border-radius: 5px;
}



/*MEDIA QUERIES */

@media (min-width:600px) and (max-width: 1024px) {
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }

    #nuestros-planes .container {
        flex-wrap: wrap;
    }
    #nuestros-planes .container .carta  {
        width: 45%;
        height: auto;
    }

    #nuestros-planes h3 {
        margin-top: 0;
    }

    #nuestra-app .img-container {
        width: 268px;
        height: 374px;
    }

    #nuestra-app .container {
        gap: 20px;
    }

  
}


@media (max-width: 600px) {
    html {
       font-size: 16px;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #nuestra-app .img-container {
        height: 311px;
        width: 221px;
        margin: 0;
    }
    #nuestra-app .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem;
    }
    #nuestra-app .texto {
        width: 100%;
        padding: 0;
        font-size: .8rem;
    }
    #nuestra-app p {
        display: none;
    }
    #nuestra-app h2 {
        margin-top: 1.5rem;
    }
    #nuestros-planes .container {
        flex-wrap: wrap;
    }
    #nuestros-planes p {
        display: none;
        margin: 20px;
    }
    #nuestros-planes .container .carta  {
        width: 100%;
        min-height: auto;
    }

    .footer-bottom p{
        font-size: 11px;
    }

    .home .carousel-item h2{
        font-size: 40px;
    }
}